USE [master]
GO
/****** Object:  Database [parcial]    Script Date: 21/06/2024 00:19:12 ******/
CREATE DATABASE [parcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'parcial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\parcial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'parcial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\parcial.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [parcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [parcial]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 21/06/2024 00:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[DNI] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Turno] [nvarchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comentarios]    Script Date: 21/06/2024 00:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comentarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [nvarchar](50) NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[AlumnoId] [int] NOT NULL,
	[Comentario] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[alumnos] ON 

INSERT [dbo].[alumnos] ([Id], [Apellido], [Nombre], [DNI], [Email], [Turno]) VALUES (19, N'Guevara', N'Alan', N'1234567', N'alan@gmail.com', N'tt')
SET IDENTITY_INSERT [dbo].[alumnos] OFF
GO
SET IDENTITY_INSERT [dbo].[comentarios] ON 

INSERT [dbo].[comentarios] ([Id], [DNI], [Apellido], [AlumnoId], [Comentario]) VALUES (10, N'1234567', N'Guevara', 19, N'dejo este comentario de prueba')
SET IDENTITY_INSERT [dbo].[comentarios] OFF
GO
ALTER TABLE [dbo].[comentarios]  WITH CHECK ADD FOREIGN KEY([AlumnoId])
REFERENCES [dbo].[alumnos] ([Id])
GO
USE [master]
GO
